@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font: 15px 'Roboto', sans-serif;
	color: #222;
}
a {
	cursor: pointer;
}
ul {
	list-style: none;
}
.wrapper {
	display: flex;
	min-height: 100%;
}
nav {
	width: 200px;
	background: #eee;
	border-right: 1px solid #222;
}
nav header {
	position: relative;
	height: 80px;
	padding: 20px 0 0 15px;
	font-size: 16px;
	color: #222;
	background: #eee;
}
nav ul a {
	position: relative;
	display: block;
	padding: 15px 15px 17px 50px;
	color: #222;
	border-bottom: 1px solid;
	background: #eee;
}
nav ul a:hover, nav ul a.active {
	background: #222;
	color: #eee;
}
main {
	flex: 1;
	padding: 25px;
	background: #d5d6d8;
}
main h1 {
	height: 80px;
	margin: -25px -25px 25px -25px;
	padding: 0 25px;
	line-height: 76px;
	font-size: 24px;
	font-weight: 400;
	background: #eee;
	color: #222;
}

.flex-grid > div {
	flex: 1;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.flex-grid {
	display: flex;
}
.flex-grid > div {
	flex: 1;
	margin: 0 20px 20px 0;
	padding: 0;
	border: 1px solid #eee;
	background: #eee;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.flex-grid h2 {
	padding: 12px 15px;
	font-size: 20px;
	font-weight: 400;
	border-bottom: 1px solid #eee;
	color: #eee;
	background: #222;
	line-height: 30px;
	border-radius: inherit;
}

#card-container {
	max-height: 600px;
	max-width: 500px;
	min-width: 500px;
}

#card-div {
	max-height: 545px;
	overflow: auto;
}

#card-div ul {
	list-style-type: none;
	width: 90%;
	margin: auto;
	padding-top: 20px;
}

#card-div ul li {
	background: #222;
	color: #eee;
	border-radius: 10px;
	padding: 15px 15px 15px 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#card-div ul li:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#card-div ul li h3 {
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 5px;
}

#card-div ul li h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

#card-div ul li .admin-task-infos {
	display: flex;
	margin-top: 18px;
	justify-content: space-between;
}

#card-div ul li .admin-task-infos p {
	font-size: 13px;
	margin: 0;
}

#chart-container { 
	max-height: 600px;
	min-height: 600px;
}

#chart-div {
	height: 545px; 
}


/** Media Queries **/
@media (max-width: 1000px) {
	.notification-grid, .flex-grid {
		flex-direction: column;
	}

	.notification-grid > div {
		margin: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.flex-grid > div {
		margin-right: 0;
		margin-left: 0;
	}




}
