body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: auto;
}

/* Header Styling */
#userpage-icon {
    padding: 1em;
}
#title {
    font-size: 4em;
    text-align: center;
    padding-bottom: 0.5em;
}

/* Main Content Styling */
section {
    max-width: 55em;
    margin: auto;
    padding: 0 1em;
}

/* Styling for control bar (categories and add task) */
#control-bar {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}
#categories {
    display: flex;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    width: 83%;
}
#category-all {
    background-color: lightgray;
}
.categories {
    border-right: solid;
    cursor: pointer;
    text-align: center;
    width: 20%;
    min-width: 0;
    overflow: hidden;
    line-height: 3em;
}
#add-task {
    white-space: nowrap;
    line-height: 3em;
    margin-left: 1em;
    border: solid;
    cursor: pointer;
    width: 15%;
    min-width: 0;
    overflow: hidden;
    text-align: center;
}

/* Tasks Styling */
#tasks-list {
    border-top: solid;
    border-right: solid;
    border-left: solid;
}
.task {
    padding: 1em;
    border-bottom: solid;
}
.task-header {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-between;
}
.username {
    width: 70%;
}
.help-button {
    cursor: pointer;
    font-weight: bold;
}
.task-footer {
    font-style: italic;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}