body {
	font-family: 'Roboto', sans-serif;;
    margin: auto;
}

/* Header Styling */
nav {
    display: flex;
    justify-content: space-between;
}
#userpage-icon {
    padding: 1em;
}
#login-logout {
    padding: 0 1em;
}
#login-logout a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
#login-logout a:hover {
    color: gray;
}
i:hover{
    color: grey;
}
i {
    color: black;
}
#title {
    font-size: 4em;
    text-align: center;
    margin-block-start: 0;
}

/* Main Content Styling */
section {
    max-width: 55em;
    margin: auto;
    padding: 0 1em;
}

/* Styling for control bar (categories and add task) */
#control-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}
#categories {
    display: flex;
    border-bottom: solid black;
    border-top: solid black;
    border-left: solid black;;
    width: 90%;
}
#category-all {
    background-color:gray;
    color: white;
    font-weight: bold;
}
.categories {
    border-right: solid black;
    cursor: pointer;
    text-align: center;
    width: 20%;
    min-width: 0;
    overflow: hidden;
    line-height: 3em;
}
.categories:hover {
    background-color: lightgray;
}
#add-task {
    padding-left: 1em;
    cursor: pointer;
    min-width: 0;
    overflow: hidden;
}
#addtaskbutton {
    font-size: 3.5em;
}

/* Tasks Styling */
#tasks-list {
    border-top: solid;
    border-right: solid;
    border-left: solid;
}
.task {
    border-bottom: solid;
    position: relative;
}
.task-container {
    padding: 1em;
}
.task-header {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-between;
}
.username {
    width: 70%;
}
.help-button {
    cursor: pointer;
    font-weight: bold;
}
.help-button:hover{
    color: gray;
}
.task-footer {
    font-style: italic;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}
.confirm-overlay {
    position: absolute;
    z-index: 99;
    display: none;
    background: rgba(236, 236, 240, 0.85);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
}
.confirm-overlay a:hover {
    color: gray;
    cursor:pointer;
}
.exit-confirm {
    font-size: 30px;
    line-height: 0em;
    text-align: right;
    padding-right: 1em;
    padding-top: 1em;
}

/* Add task modal styling */
#createTaskModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
#modal textarea {
    width: 50%;
    box-sizing: border-box;
    border: 4px solid rgb(97, 245, 195);
    border-radius: 4px;
    font-size: 16px;
    font-family:  'Roboto', sans-serif;
    padding: 10px 20px 10px 20px;
    transition: width 0.5s ease-in-out;
    margin-bottom: 1em;
}
#new-task-form {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#modal textarea:focus {
    width: 100%;
    border: 4px solid lightcyan;
}
#modal label {
    font-size: 24px;
    font-weight: bold;
}
#close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#close-button:hover,
#close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}